{% extends "base/base.html" %} 
{% block content %}
<div class="container-fluid projects">
  <div class="container ">
    {% for project in projects %}
    <img
      class="rounded-circle"
      src="{{project.image.url}}"
      alt=""
    />
    <div class="card-header card_title">{{project.title}}</div>
    <div class="card-body">
      <p class="card-text">{{project.description}}</p>
      <div class="container rates_star">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
