.card_title{
    text-align: center;
    font-size: 25px;
}
.rates_star{
    text-align: center;
}
.checked{
    color: #7c821c
}

/* .rate-link{
    align-items: center;
    text-transform: uppercase;
} */

